tr td {
  padding: 4px 4px !important;
}

.ant-upload-list-text {
  width: 170px;
}

.ant-layout-sider.ant-layout-sider-dark.ant-layout-sider-collapsed {
  flex: 0 0 50px !important;
  max-width: none !important;
  min-width: 0px !important;
}

.ant-layout-content {
  padding: 10px !important;
}

.site-layout {
  height: 100%;
}

input.validateErrorField:hover {
  border-color: #ff4d4f;
}

input.validateErrorField:focus {
  border-color: #ff4d4f;
  box-shadow: 0 0 0 2px rgba(251, 31, 71, 0.2)
}

.validateErrorField {
  border-color: #ff4d4f;
}

.validateErrorMessage {
  margin-top: 10px;
  color: #ff4d4f;
}

.ant-checkbox-group-item {
  /* display: block;
  margin-right: 0; */
}

.loading {
  position: fixed;
  width: 10%;
  height: 10%;
  opacity: 1.0;
  z-index: 9999;
  top: 50%;
  left: 50%
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

.btn-success {
  background-color: rgb(5, 189, 5);
  border-color: rgb(5, 189, 5);
}
